h1
{
    color: black;
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 5px solid black;
    padding: 10px;
    margin: 20px;
}

body
{
    background-color: whitesmoke;
}

.box
{
    display: flex;
    align-items: center;
}

.box1
{
    width: 150px;
    height: 150px;
    border: 5px solid blue;
    padding: 10px;
    margin: 40px;
    display: flex;
    align-items: center;
    flex-direction: column;
    
}

.box2
{
    width: 150px;
    height: 150px;
    border: 5px solid blue;
    padding: 10px;
    margin: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box3
{
    width: 150px;
    height: 150px;
    border: 5px solid blue;
    padding: 10px;
    margin: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.last-boxes
{
    display: flex;
    align-items: center;
}

.box4
{
    width: 150px;
    height: 150px;
    border: 5px solid blue;
    padding: 10px;
    margin: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box5
{
    width: 150px;
    height: 150px;
    border: 5px solid blue;
    padding: 10px;
    margin: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box6
{
    width: 150px;
    height: 150px;
    border: 5px solid blue;
    padding: 10px;
    margin: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}