h1
{
    display: flex;
    justify-content: center;
}

body
{
    background-color: aquamarine;
}

.box1
{
    width: 150px;
    height: 150px;
    border: 5px solid blue;
    padding: 10px;
    margin: 40px;
    display: flex;
    justify-content: center;
    align-content: center;
}